@model QueFlow.Models.Question

<h2 class="text-center mt-5">Editare articol</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Questions" asp-route-id="@Model.Id">
                <div asp-validation-summary="All" class="text-danger"></div><br />
                <div class="form-group">
                    <label asp-for="Title" class="form-label">Question title</label>
                    <br />
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="form-label">Question content</label>
                    <br />
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                    <br /><br />
                </div>

                <div class="form-group">
                    <label for="se completeaza acest camp">Select a category</label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Select a category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <br />
                </div>

                <button class="btn btn-sm btn-success" type="submit">Edit question</button>

            </form>
            <form method="post" asp-controller="Questions" asp-action="Delete" asp-route-id="@Model.Id">

                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete question</button>

            </form>
        </div>
    </div>
</div>