

<h2 class="text-center">Afisare intrebari</h2>

<br />

@if(ViewBag.Msg != null){

    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Msg</h2>
}


<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Questions/New">Pune o intrebare</a>
    <br />

</div>

<br />


@foreach (var Model in ViewBag.Questions)
{
    <div class="card">

        <partial name="QuestionInfo" model="Model" />

    </div>

    <br />
    <br />
}


