@model QueFlow.Models.Category

<h2>@ViewBag.Title</h2>
<br/>


<h3><a style="color:darkgreen;font-weight:bolder;font-size:larger;" asp-action="Index" asp-controller="Categories">@Model.Name</a></h3>
@if(Model.Description!=null)
{
	<p class="card-text"><h4>@Model.Description</h4></p>
}
<br />
<hr/>
<br />
@foreach(var que in Model.Questions)
{
	<div class="card">

		<partial name="CategoryInfo" model="que" />

	</div>
	<br />
	<br />
}
	